# SF Salaries Exercise 

Welcome to a quick exercise for you to practice your pandas skills! We will be using the [SF Salaries Dataset](https://www.kaggle.com/kaggle/sf-salaries) from Kaggle! Just follow along and complete the tasks outlined in bold below. The tasks will get harder and harder as you go along.

**Import pandas as pd.**

In [1]:
import pandas as pd

**Read Salaries.csv as a dataframe called sal.**

In [2]:
sal = pd.read_csv("Salaries.csv")

**Check the head of the DataFrame.**

In [3]:
sal.head()

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
0,1,NATHANIEL FORD,GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY,167411.18,0.00,400184.25,NaN,567595.43,567595.43,2011,NaN,San Francisco,NaN
1,2,GARY JIMENEZ,CAPTAIN III (POLICE DEPARTMENT),155966.02,245131.88,137811.38,NaN,538909.28,538909.28,2011,NaN,San Francisco,NaN
2,3,ALBERT PARDINI,CAPTAIN III (POLICE DEPARTMENT),212739.13,106088.18,16452.60,NaN,335279.91,335279.91,2011,NaN,San Francisco,NaN
3,4,CHRISTOPHER CHONG,WIRE ROPE CABLE MAINTENANCE MECHANIC,77916.00,56120.71,198306.90,NaN,332343.61,332343.61,2011,NaN,San Francisco,NaN
4,5,PATRICK GARDNER,"DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)",134401.60,9737.00,182234.59,NaN,326373.19,326373.19,2011,NaN,San Francisco,NaN

**Use the .info() method to find out how many entries there are.**

In [4]:
sal.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 148654 entries, 0 to 148653
Data columns (total 13 columns):
Id                  148654 non-null int64
EmployeeName        148654 non-null object
JobTitle            148654 non-null object
BasePay             148045 non-null float64
OvertimePay         148650 non-null float64
OtherPay            148650 non-null float64
Benefits            112491 non-null float64
TotalPay            148654 non-null float64
TotalPayBenefits    148654 non-null float64
Year                148654 non-null int64
Notes               0 non-null float64
Agency              148654 non-null object
Status              0 non-null float64
dtypes: float64(8), int64(2), object(3)
memory usage: 14.7+ MB

In [5]:
sal.describe()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Status
count,148654.000000,148045.000000,148650.000000,148650.000000,112491.000000,148654.000000,148654.000000,148654.000000,0.0,0.0
mean,74327.500000,66325.448841,5066.059886,3648.767297,25007.893151,74768.321972,93692.554811,2012.522643,NaN,NaN
std,42912.857795,42764.635495,11454.380559,8056.601866,15402.215858,50517.005274,62793.533483,1.117538,NaN,NaN
min,1.000000,-166.010000,-0.010000,-7058.590000,-33.890000,-618.130000,-618.130000,2011.000000,NaN,NaN
25%,37164.250000,33588.200000,0.000000,0.000000,11535.395000,36168.995000,44065.650000,2012.000000,NaN,NaN
50%,74327.500000,65007.450000,0.000000,811.270000,28628.620000,71426.610000,92404.090000,2013.000000,NaN,NaN
75%,111490.750000,94691.050000,4658.175000,4236.065000,35566.855000,105839.135000,132876.450000,2014.000000,NaN,NaN
max,148654.000000,319275.010000,245131.880000,400184.250000,96570.660000,567595.430000,567595.430000,2014.000000,NaN,NaN

**What is the average BasePay ?**

In [6]:
sal['BasePay'].mean()

66325.44884050643

**What is the highest amount of OvertimePay in the dataset ?**

In [7]:
sal['OvertimePay'].max()

245131.88

**What is the job title of  JOSEPH DRISCOLL ? Note: Use all caps, otherwise you may get an answer that doesn't match up (there is also a lowercase Joseph Driscoll).**

In [8]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['JobTitle']

24    CAPTAIN, FIRE SUPPRESSION
Name: JobTitle, dtype: object

**How much does JOSEPH DRISCOLL make (including benefits)?**

In [9]:
sal[sal['EmployeeName']=='JOSEPH DRISCOLL']['TotalPayBenefits']

24    270324.91
Name: TotalPayBenefits, dtype: float64

**What is the name of highest paid person (including benefits)?**

In [10]:
max_paid = sal['TotalPayBenefits'].idxmax()
sal.loc[max_paid]
# sal[sal['TotalPayBenefits']== sal['TotalPayBenefits'].max()]

Id                                                               1
EmployeeName                                        NATHANIEL FORD
JobTitle            GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
BasePay                                                     167411
OvertimePay                                                      0
OtherPay                                                    400184
Benefits                                                       NaN
TotalPay                                                    567595
TotalPayBenefits                                            567595
Year                                                          2011
Notes                                                          NaN
Agency                                               San Francisco
Status                                                         NaN
Name: 0, dtype: object

**What is the name of lowest paid person (including benefits)? Do you notice something strange about how much he or she is paid?**

In [11]:
sal[sal['TotalPayBenefits'] == sal['TotalPayBenefits'].min()]

,Id,EmployeeName,JobTitle,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Year,Notes,Agency,Status
148653,148654,Joe Lopez,"Counselor, Log Cabin Ranch",0.0,0.0,-618.13,0.0,-618.13,-618.13,2014,NaN,San Francisco,NaN

**What was the average (mean) BasePay of all employees per year? (2011-2014) ?**

In [12]:
sal.groupby('Year').mean()['BasePay']

Year
2011    63595.956517
2012    65436.406857
2013    69630.030216
2014    66564.421924
Name: BasePay, dtype: float64

In [13]:
sal.groupby('Year').sum()

,Id,BasePay,OvertimePay,OtherPay,Benefits,TotalPay,TotalPayBenefits,Notes,Status
Year,,,,,,,,,
2011,653754720,2.299566e+09,1.638388e+08,1.307901e+08,0.000000e+00,2.594195e+09,2.594195e+09,0.0,0.0
2012,2005309555,2.405835e+09,1.846910e+08,1.343223e+08,9.720918e+08,2.724848e+09,3.696940e+09,0.0,0.0
2013,3449541971,2.576381e+09,1.986214e+08,1.436538e+08,8.961163e+08,2.918656e+09,3.814772e+09,0.0,0.0
2014,4940473939,2.537369e+09,2.059186e+08,1.336232e+08,9.449548e+08,2.876911e+09,3.821866e+09,0.0,0.0

**How many unique job titles are there?**

In [14]:
sal['JobTitle'].nunique()

2159

**What are the top 10 most common jobs?**

In [15]:
sal['JobTitle'].value_counts().head(10)

Transit Operator                7036
Special Nurse                   4389
Registered Nurse                3736
Public Svc Aide-Public Works    2518
Police Officer 3                2421
Custodian                       2418
TRANSIT OPERATOR                2388
Firefighter                     2359
Recreation Leader               1971
Patient Care Assistant          1945
Name: JobTitle, dtype: int64

**How many Job Titles were represented by only one person in 2013? (e.g. Job Titles with only one occurence in 2013?)**

In [16]:
sum(sal[sal['Year']==2013]['JobTitle'].value_counts() == 1)

202

In [17]:
sal[sal['Year']==2013]['JobTitle'].value_counts() == 1

Transit Operator                  False
Special Nurse                     False
Registered Nurse                  False
Public Svc Aide-Public Works      False
Custodian                         False
Firefighter                       False
Police Officer 3                  False
Patient Care Assistant            False
Recreation Leader                 False
Deputy Sheriff                    False
Police Officer                    False
Public Service Trainee            False
Police Officer 2                  False
Attorney (Civil/Criminal)         False
Sergeant 3                        False
Porter                            False
Eligibility Worker                False
General Laborer                   False
Gardener                          False
EMT/Paramedic/Firefighter         False
Senior Clerk                      False
Parking Control Officer           False
Library Page                      False
Senior Eligibility Worker         False
Senior Clerk Typist               False
Clerk                             False
Licensed Vocational Nurse         False
Stationary Engineer               False
Nurse Practitioner                False
PS Aide to Prof                   False
                                  ...
Performance Analyst I              True
Real Estate Devt. Mgr, SFMTA       True
Special Assistant 16               True
Auto Body & Fender Wrk Sprv 1      True
Court Clerk                        True
Pr Investigator, Tax Collector     True
Chief Dep Adlt Prob Of (SFERS)     True
Senior Offset Machine Operator     True
Assoc Musm Cnsrvt, AAM             True
Area Sprv Parks, Squares & Fac     True
Track Maint Supt, Muni Railway     True
Court Interpreter Supervisor       True
Head Photographer                  True
Municipal Stadium Groundskpr       True
Traffic Sign Manager               True
Animal Care Supervisor             True
Public Safety Comm Tech            True
Airport Mechanical Maint Sprv      True
Ex Asst to Ex Dir, Retirement      True
Legislation Clerk                  True
Conservatorship/Case Mgt Sprv      True
Asst Superintendent Rec            True
Board Scty, MTA                    True
Administrative Analyst II          True
Crime Lab Mgr                      True
Senior Data Entry Operator         True
Braillist                          True
District Attorney                  True
Principal Real Property Ofc        True
PrDAInvest,SpecUnit (SFERS)        True
Name: JobTitle, Length: 1051, dtype: bool

**How many people have the word Chief in their job title? (This is pretty tricky)**

In [18]:
def chief_string(title):
    if 'chief' in title.lower().split():
        return True
    else:
        return False

In [19]:
sum(sal['JobTitle'].apply(lambda x:chief_string(x)))

477

In [20]:
sal['JobTitle'][0]

'GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY'

**Bonus: Is there a correlation between length of the Job Title string and Salary?**

In [21]:
sal['title_len'] = sal['JobTitle'].apply(len)
sal['title_len']

0         46
1         31
2         31
3         36
4         44
5         25
6         34
7         30
8         34
9         38
10        48
11        31
12        27
13        17
14        34
15        34
16        17
17        37
18        34
19        26
20        26
21        26
22        25
23        34
24        25
25        15
26        25
27        34
28        36
29        44
          ..
148624    12
148625    16
148626    13
148627    15
148628    15
148629    18
148630     9
148631    27
148632    26
148633    15
148634    19
148635    15
148636    19
148637    22
148638    11
148639     9
148640    23
148641    12
148642    11
148643    23
148644    28
148645    25
148646    12
148647    27
148648     9
148649     9
148650    12
148651    12
148652    12
148653    26
Name: title_len, Length: 148654, dtype: int64

In [22]:
sal[['title_len','JobTitle']]

        title_len                                          JobTitle
0              46    GENERAL MANAGER-METROPOLITAN TRANSIT AUTHORITY
1              31                   CAPTAIN III (POLICE DEPARTMENT)
2              31                   CAPTAIN III (POLICE DEPARTMENT)
3              36              WIRE ROPE CABLE MAINTENANCE MECHANIC
4              44      DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
5              25                         ASSISTANT DEPUTY CHIEF II
6              34                BATTALION CHIEF, (FIRE DEPARTMENT)
7              30                    DEPUTY DIRECTOR OF INVESTMENTS
8              34                BATTALION CHIEF, (FIRE DEPARTMENT)
9              38            CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
10             48  ASSISTANT CHIEF OF DEPARTMENT, (FIRE DEPARTMENT)
11             31                   CAPTAIN III (POLICE DEPARTMENT)
12             27                       EXECUTIVE CONTRACT EMPLOYEE
13             17                                 DEPARTMENT HEAD V
14             34                BATTALION CHIEF, (FIRE DEPARTMENT)
15             34                COMMANDER III, (POLICE DEPARTMENT)
16             17                                 DEPARTMENT HEAD V
17             37             CAPTAIN, EMERGENCYCY MEDICAL SERVICES
18             34                BATTALION CHIEF, (FIRE DEPARTMENT)
19             26                        ASSISTANT MEDICAL EXAMINER
20             26                        ASSISTANT MEDICAL EXAMINER
21             26                        ASSISTANT MEDICAL EXAMINER
22             25                         CAPTAIN, FIRE SUPPRESSION
23             34                BATTALION CHIEF, (FIRE DEPARTMENT)
24             25                         CAPTAIN, FIRE SUPPRESSION
25             15                                   CHIEF OF POLICE
26             25                         CAPTAIN, FIRE SUPPRESSION
27             34                BATTALION CHIEF, (FIRE DEPARTMENT)
28             36              DEPUTY CHIEF III (POLICE DEPARTMENT)
29             44      DEPUTY CHIEF OF DEPARTMENT,(FIRE DEPARTMENT)
...           ...                                               ...
148624         12                                      Senior Clerk
148625         16                                  Registered Nurse
148626         13                                     Account Clerk
148627         15                                   General Laborer
148628         15                                   General Laborer
148629         18                                Transcriber Typist
148630          9                                         Carpenter
148631         27                       Communications Dispatcher 1
148632         26                        Protective Services Worker
148633         15                                   General Laborer
148634         19                               Transit Car Cleaner
148635         15                                   General Laborer
148636         19                               Arborist Technician
148637         22                            Transit Fare Inspector
148638         11                                       Electrician
148639          9                                         Custodian
148640         23                           Parking Control Officer
148641         12                                      Museum Guard
148642         11                                       Sign Worker
148643         23                           Parking Control Officer
148644         28                      Stationary Eng, Sewage Plant
148645         25                         Human Services Technician
148646         12                                      Not provided
148647         27                       Communications Dispatcher 2
148648          9                                         Custodian
148649          9                                         Custodian
148650         12                                      Not provided
148651         12                                      Not provided
148652         12                                      Not provided
148653         26                        Counselor, Log Cabin Ranch

[148654 rows x 2 columns]

In [23]:
sal[['title_len','TotalPay']].corr()

           title_len  TotalPay
title_len   1.000000 -0.015356
TotalPay   -0.015356  1.000000